<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create comments</title>
</head>
<body>
    <form action="/comments" method="post">
        <section>
            <label for="username">enter username</label>
            <input type="text" placeholder="username" name="username" id="username">
        </section>
        <br>
          <section>  <label for="comment">type comment here</label>
            <br>
            <textarea name="comment" id="comment" placeholder="comment"></textarea>

          </section>
      <button>submit</button>
          
    </form>
    <a href="/comments">back to index</a>
</body>
</html>