<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="my.css">
</head>
<body>
    <h1>the home page <%= 5+4+1 %></h1>
    <p>Lorem <%='hello world'.toUpperCase() %> ipsum dolor sit amet consectetur adipisicing elit. 
        Magni dignissimos impedit ex temporibus doloremque, optio, facere ab unde
         tempore quod autem, laboriosam vitae. Quo possimus alias, temporibus 
         laboriosam ex nonlorem   Lorem ipsum, dolor sit amet consectetur adipisicing
          elit. Quis, qui! Fuga alias fugit obcaecati impedit, harum repellendus.
           Quos dignissimos placeat vero enim, et optio accusantium nostrum! Quas 
           accusamus minus quae.</p>
           <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum, 
            facilis id? Quam ipsam, ut cumque autem voluptate voluptas voluptatibus 
            accusantium earum vitae sed, architecto nesciunt suscipit impedit 
            repudiandae culpa eveniet?Lorem ipsum dolor, sit amet consectetur 
            adipisicing elit. Impedit voluptates est necessitatibus recusandae autem,
             excepturi aliquam, fugit commodi expedita harum animi, laudantium 
             blanditiis dicta reiciendis quasi voluptatem quisquam ea a?</p>
</body>
</html>