<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a farm</title>
</head>
<body>
    <h1>Add Farm</h1>
    <form action="/farms" method="post">
        <div>
            <label for="name">farm name</label>
            <input type="text " name="name" id="name" placeholder="farm name">
        </div>
        <div>
            <label for="city">city </label>
            <input type="text " name="city" id="city" placeholder="farm city">
        </div>
        <div>
            <label for="email">email</label>
            <input type="email " name="email" id="email" placeholder="farm email">
        </div>
        <button>submit</button>
    </form>
</body>
</html>